/** Barra de Navegacio en top **/
.barra_navegacion ul {
  list-style: none;
}
.barra_navegacion .boton_ppal {
  cursor: pointer;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-color: white;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-color: #0e7710;
  float: left;
  width: 100px;
  line-height: 50px;
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px #888;
  box-shadow: 3px 3px 5px #888;
  background-image: linear-gradient(bottom, #0e7710 0%, #79bf38 69%);
  background-image: -o-linear-gradient(bottom, #0e7710 0%, #79bf38 69%);
  background-image: -moz-linear-gradient(bottom, #0e7710 0%, #79bf38 69%);
  background-image: -webkit-linear-gradient(bottom, #0e7710 0%, #79bf38 69%);
  background-image: -ms-linear-gradient(bottom, #0e7710 0%, #79bf38 69%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0e7710), color-stop(0.69, #79bf38));
}
.barra_navegacion li.boton_ppal:hover {
  background-image: linear-gradient(bottom, #3fa83b 0%, #0e7710 69%);
  background-image: -o-linear-gradient(bottom, #3fa83b 0%, #0e7710 69%);
  background-image: -moz-linear-gradient(bottom, #3fa83b 0%, #0e7710 69%);
  background-image: -webkit-linear-gradient(bottom, #3fa83b 0%, #0e7710 69%);
  background-image: -ms-linear-gradient(bottom, #3fa83b 0%, #0e7710 69%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3fa83b), color-stop(0.69, #0e7710));
}
.barra_navegacion li.activo:hover {
  background-image: linear-gradient(bottom, #04669f 2%, #003a6a 69%);
  background-image: -o-linear-gradient(bottom, #04669f 2%, #003a6a 69%);
  background-image: -moz-linear-gradient(bottom, #04669f 2%, #003a6a 69%);
  background-image: -webkit-linear-gradient(bottom, #04669f 2%, #003a6a 69%);
  background-image: -ms-linear-gradient(bottom, #04669f 2%, #003a6a 69%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.02, #04669f), color-stop(0.69, #003a6a));
}
.barra_navegacion .activo {
  cursor: pointer;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-color: white;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-color: #0e7710;
  float: left;
  width: 100px;
  line-height: 50px;
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px #888;
  box-shadow: 3px 3px 5px #888;
  background-image: linear-gradient(bottom, #00497d 2%, #03a8da 69%);
  background-image: -o-linear-gradient(bottom, #00497d 2%, #03a8da 69%);
  background-image: -moz-linear-gradient(bottom, #00497d 2%, #03a8da 69%);
  background-image: -webkit-linear-gradient(bottom, #00497d 2%, #03a8da 69%);
  background-image: -ms-linear-gradient(bottom, #00497d 2%, #03a8da 69%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.02, #00497d), color-stop(0.69, #03a8da));
}
.barra_navegacion li a {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  padding-left: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.barra_navegacion #barra_inicio {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.barra_navegacion #barra_contactanos {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
/** Fin de Barra de Navegacion **/
/** Barra lateral del Catalogo **/
.barra_catalogo ul {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  color: #FFFFFF;
  margin: 0px;
  font-size: 13px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.barra_catalogo ul li {
  width: 150px;
  height: 30px;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: white;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #00497d;
  -moz-box-shadow: 1px 1px 5px #888;
  -webkit-box-shadow: 1px 1px 5px #888;
  box-shadow: 1px 1px 5px #888;
  background-image: linear-gradient(right, #00497d 3%, #03a8da 69%);
  background-image: -o-linear-gradient(right, #00497d 3%, #03a8da 69%);
  background-image: -moz-linear-gradient(right, #00497d 3%, #03a8da 69%);
  background-image: -webkit-linear-gradient(right, #00497d 3%, #03a8da 69%);
  background-image: -ms-linear-gradient(right, #00497d 3%, #03a8da 69%);
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0.03, #00497d), color-stop(0.69, #03a8da));
}
.barra_catalogo ul li:hover {
  color: white;
  background-image: linear-gradient(right, #04669f 3%, #003a6a 69%);
  background-image: -o-linear-gradient(right, #04669f 3%, #003a6a 69%);
  background-image: -moz-linear-gradient(right, #04669f 3%, #003a6a 69%);
  background-image: -webkit-linear-gradient(right, #04669f 3%, #003a6a 69%);
  background-image: -ms-linear-gradient(right, #04669f 3%, #003a6a 69%);
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0.69, #00497d), color-stop(0.02, #03a8da));
}
.barra_catalogo ul li a {
  color: white;
  padding-left: 10px;
  font-weight: 900;
}
.barra_catalogo ul li a:hover {
  color: white;
  text-decoration: none;
}
.barra_catalogo ul li.activo {
  background-image: linear-gradient(right, #fd9800 3%, #ef6d11 69%);
  background-image: -o-linear-gradient(right, #fd9800 3%, #ef6d11 69%);
  background-image: -moz-linear-gradient(right, #fd9800 3%, #ef6d11 69%);
  background-image: -webkit-linear-gradient(right, #fd9800 3%, #ef6d11 69%);
  background-image: -ms-linear-gradient(right, #fd9800 3%, #ef6d11 69%);
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0.69, #fd9800), color-stop(0.33, #ef6d11));
}
.barra_catalogo ul li.activo:hover {
  background-image: linear-gradient(right, #9c3303 3%, #ef6d11 69%);
  background-image: -o-linear-gradient(right, #9c3303 3%, #ef6d11 69%);
  background-image: -moz-linear-gradient(right, #9c3303 3%, #ef6d11 69%);
  background-image: -webkit-linear-gradient(right, #9c3303 3%, #ef6d11 69%);
  background-image: -ms-linear-gradient(right, #9c3303 3%, #ef6d11 69%);
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0.69, #9c3303), color-stop(0.03, #ef6d11));
}
.barra_catalogo #catalogo_inicio {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.barra_catalogo #catalogo_final {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.barra_catalogo .submenu {
  min-height: 160px;
  z-index: 1100;
  display: block;
  position: absolute;
  top: 112px;
  left: 222px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 3px solid black;
  border-bottom: 1px solid black;
  background: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px #888;
  box-shadow: 3px 3px 5px #888;
}
.barra_catalogo .submenu li {
  border-top: none;
  border-bottom: none;
  background: none;
  border-radius: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 31px;
}
.barra_catalogo .submenu li a {
  display: block;
  width: 100%;
  color: black;
  font-size: 11px;
}
.barra_catalogo .submenu li:hover {
  background: black;
  font: white;
}
/** Fin de Barra Lateral **/
.recuadro_degradado {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  border: 1px solid #DDD;
  background-image: linear-gradient(top, #ffffff 22%, #f0f0f0 100%);
  background-image: -o-linear-gradient(top, #ffffff 22%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, #ffffff 22%, #f0f0f0 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 22%, #f0f0f0 100%);
  background-image: -ms-linear-gradient(top, #ffffff 22%, #f0f0f0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.22, #ffffff), color-stop(1, #f0f0f0));
  border-radius: 7px;
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px #888;
  box-shadow: 3px 3px 5px #888;
}
footer {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  margin-top: 30px;
  padding-top: 15px;
  background-image: url('../img/fondo_footer.png');
  margin-bottom: 0;
  color: #BFC5C8;
  min-height: 150px;
  box-shadow: inset 0 8px 8px -7px #000000;
  -moz-box-shadow: inset 0 8px 8px -7px #000000;
  -webkit-box-shadow: inset 0 8px 8px -7px #000000;
}
footer p {
  border-bottom: #ddd 1px solid;
  text-align: center;
}
div .articulos {
  position: relative;
  margin-top: 5px;
  padding-top: 5px;
  min-height: 175px;
}
div .articulos .titulo {
  border-bottom: 1px solid #ddd;
}
div .articulos .pedidos_frame {
  position: absolute;
  right: 10px;
  bottom: 50px;
}
#login {
  max-width: 300px;
}
.borde {
  border-radius: 7px;
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px #888;
  box-shadow: 3px 3px 5px #888;
}
